<%= erb :'partials/header' %>

<body>
    <h1>NEW QUIZ FORM</h1>

    <div>
    <label for="name">Enter a name for your quiz:</label>
    <input type="text" id="name">   
    </div>

    <form action="/quizzes/landing" method="GET">
        <p>Return to My Quizzes:</p>
        <button>CLICK HERE</button>
    </form>
</body>
</html>