<h1>THIS IS SHOWPAGE FOR <%= @quiz.name %></h1>

<form action="/quizzes/<%= @quiz.id%>/play">
    <button>
        Take this Quiz!
    </button>
</form>


<% if @quiz.is_author?(@user.email) || @quiz.is_admin?(@user.email) %>
<form action="/quizzes/<%= @quiz.id%>/edit">
    <p>You are an admin for this quiz</p>
    <button>
        Edit this Quiz
    </button>
</form>
<br>
<% end %>

<form action="/users/<%= @user.id %>">
    <button>
        Return to My Quizzes
    </button>
</form>
<br>

