<div class="main_splash">
    <div class="main_overlay">
        <div class="form_container">
            <form action="/login" method="POST">
                <h1>Log In</h1>
                <% if flash.has?(:message) %>
                    <% if flash[:success] == true %>
                        <p class="flash_message_success"><%= flash[:message] %></p>
                    <% else %>
                        <p class="flash_message_failure"><%= flash[:message] %></p>
                    <% end %>
                <% end %> 
                <div class="control">
                    <input 
                        type="text" 
                        id="user_email"
                        name="username_or_email"
                        maxlength="30"
                        placeholder=" " 
                        required
                    >
                    <label for="user_email">Username or Email</label>
                </div>
                <div class="control">
                    <input 
                        type="password" 
                        id="user_password"
                        name="password"
                        maxlength="30"
                        placeholder=" " 
                        required
                    >
                    <label for="user_password">Password</label>
                </div>
                <div class="control">
                    <input type="submit" value="LOG IN">
                </div>
            </form>
        </div>
    </div>
</div>
