<h1>I AM LOGIN PAGE</h1>

<% if flash.has?(:message) %>
    <%= flash[:message] %>
<% end %> 

<form action="/login" method="POST">
    <div>
        <label for="email">Email:</label>
        <input type="text" name="email">
    </div>
    <br>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password">
    </div>
    <br>
    <input type="submit">
</form>
