<%= erb :'partials/header' %>

<body>
    <h1>I AM LOGIN PAGE</h1>
    <form action="/sessions" method="POST">
    <label for="email">Email:</label>
    <input type="text" name="email">
    <input type="submit">
    </form>
</body>
</html>