@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Fredoka+One&family=Sawarabi+Gothic&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON PAGE ELEMENTS */
.container {
    padding-top: 70px;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: 
        linear-gradient(
            150deg, 
            rgba(22, 29, 111, 0.7),  
            rgba(246, 246, 246, 0.5)
        ),
        repeating-linear-gradient(
            45deg,  
            rgba(152, 222, 217, 0.9) 0%,  
            rgba(152, 222, 217, 0.5) 10%
        ),
        repeating-linear-gradient(
            to right, 
            rgba(152, 222, 217, 0.9),
            #c7ffd8 100px
        ),
        repeating-linear-gradient( 
            rgba(22, 29, 111, 0.5) 0%, 
            transparent 10%, 
            transparent 11%
        );
    background-attachment: fixed;
}

.flash_message_success {
    font-size: 20px;
    color: rgb(0, 255, 0);
    text-shadow: 1px 1px 2px rgb(6, 70, 0);
    text-align: center;
}
.flash_message_failure {
    font-size: 20px;
    color: rgb(255, 52, 52);
    text-shadow: 1px 1px 2px rgb(78, 1, 1);
    text-align: center;
}


.page_title {
    color: white;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 50px;
    text-shadow: 1px 2px 5px #000;
}

@media (max-width: 375px){
    .page_title {
        font-size: 30px;
    }
}

.page_subtitle {
    color: white;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 45px;
    text-shadow: 1px 2px 5px #000;
}

footer {
    position: relative;
    bottom: 18px;
    height: 0;
    background-color: rgba(61, 85, 167, 0.5);
    color: white;
    text-shadow: 1px 1px 2px black;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAVBAR */
nav {
    color: white;
    background:
        linear-gradient(
            170deg, 
            rgba(15, 84, 223, .5) 50%, 
            transparent 80%
        ),
        linear-gradient(
            to right, 
            rgba(168, 100, 231, .5), 
            rgba(126, 152, 240, .5)
        );
    padding: 10px;
    box-shadow: 0 6px 0 rgba(246, 246, 246, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 2;
    overflow: hidden;
}

#nav_logo {
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: 400;
    font-size: 20px;
    padding: 0px 10px 6px 10px;
    cursor: pointer;
    text-decoration: none;
    color:rgb(255, 255, 255);
    border: 5px solid white;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#nav_logo:hover {
    transform: scale(1.1);
    border: 5px solid rgb(140, 138, 224);
    box-shadow: 2px 2px 3px rgb(92, 57, 189);
    text-shadow: 1px 1px 3px #ffffff;
}

nav #buttons {
    max-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav #buttons button {
    font-family: 'Sawarabi Gothic', sans-serif;
    text-shadow: 1px 1px 2px black;
    margin: 0px 5px;
    padding: 8px 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    background: linear-gradient(90deg, #2d5d9c, #5c39bd, #7d39bd);
    box-shadow: 2px 2px 3px rgba(51, 17, 83, 0.5);
    transition: all 0.3s ease;
}

nav #buttons button:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 5px rgba(51, 17, 83, 0.5);
    cursor: pointer;
}

.main_overlay .login_buttons{
    margin-top: 15px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-evenly;
}

.main_overlay .login_buttons button {
    position: relative;
    font-family: 'Fredoka One', cursive;
    height: 40px;
    padding: 8px 15px 20px 15px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .3s ease;
}

.main_overlay .login_buttons button:hover {
    transform: scale(1.1);
}

#login_button:hover {
    background: linear-gradient(90deg, #2d5d9c, #5c39bd, #7d39bd, #2d5d9c);
    background-size: 400%;
}

#signup_button:hover {
    background: linear-gradient(90deg, #2d799c, #5c39bd, #3982bd, #2d799c);
    background-size: 400%;
}

#signup_button:before, 
#login_button:before {
    width: 100%;
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: all 0.5s ease;
}

#signup_button:hover:before,
#login_button:hover:before {
    border-radius: 50px;
    opacity: 1;
    z-index: -1;
}

#signup_button:hover,
#login_button:hover {
    border-radius: 50px;
    z-index: 1;
    animation: glow 8s linear infinite;
}

@keyframes glow {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
    0%{
        background-position: 0%;
    }
}


/* BUTTONS */
.button-green:focus,
.button-green {
    padding: 2px 13px 4px 17px;
    background: linear-gradient(
        to bottom,  
        rgba(7, 214, 7, .05), 
        rgba(0, 255, 0, .05)
    );
    border-radius: 10px;
    font-family: 'Sawarabi Gothic', sans-serif;
    text-shadow: 1px 1px 1px #000;
    font-weight: 400;
    font-size: 18px;
    color: white;
    cursor: pointer;
    box-shadow: -2px -2px 3px #000;
    box-shadow: 
        1px 1px 2px rgb(3, 59, 3),
        -1px -1px 2px rgb(214, 245, 217),
        inset 1px 1px 2px rgb(3, 59, 3),
        inset -1px -1px 2px rgb(214, 245, 217);
    border:none;
    transition: all 0.3s ease;
    z-index: 1;
}

.button-green:hover {
    transform: scale(1.1);
    box-shadow: 
        4px 4px 5px rgb(3, 59, 3),
        -1px -1px 2px rgb(214, 245, 217);
}

.button-green:focus {
    outline: none;
}

.button-yellow:focus,
.button-yellow {
    padding: 2px 13px 4px 17px;
    background: linear-gradient(
        to bottom,  
        rgba(238, 241, 7, .05), 
        rgba(255, 217, 0, .05)
    );
    border-radius: 10px;
    font-family: 'Sawarabi Gothic', sans-serif;
    text-shadow: 1px 1px 1px #000;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    color: white;
    box-shadow: -2px -2px 3px #000;
    box-shadow: 
        1px 1px 2px rgb(84, 85, 7),
        -1px -1px 2px rgb(239, 241, 210),
        inset 1px 1px 2px rgb(84, 85, 7),
        inset -1px -1px 2px rgb(239, 241, 210);
    border:none;
    transition: all 0.3s ease;
}

.button-yellow:hover {
    transform: scale(1.1);
    box-shadow: 
        4px 4px 5px rgb(84, 85, 7),
        -1px -1px 2px rgb(239, 241, 210);
}

.button-yellow:focus {
    outline: none;
}

.button-red:focus,
.button-red {
    padding: 2px 13px 4px 17px;
    background: linear-gradient(
        to bottom,  
        rgba(214, 7, 7, 0.05), 
        rgba(255, 60, 0, 0.05)
    );
    border-radius: 10px;
    font-family: 'Sawarabi Gothic', sans-serif;
    text-shadow: 1px 1px 1px #000;
    font-weight: 400;
    font-size: 18px;
    color: white;
    cursor: pointer;
    box-shadow: -2px -2px 3px #000;
    box-shadow: 
        1px 1px 2px rgb(59, 3, 3),
        -1px -1px 2px rgb(245, 214, 214),
        inset 1px 1px 2px rgb(59, 3, 3),
        inset -1px -1px 2px rgb(245, 214, 214);
    border:none;
    transition: all 0.3s ease;
    z-index: 1;
}

.button-red:hover {
    transform: scale(1.1);
    box-shadow: 
        4px 4px 5px rgb(59, 3, 3),
        -1px -1px 2px rgb(245, 214, 214);
}

.button-red:focus {
    outline: none;
}

.button-lg {
    padding: 10px 20px !important;
}

.card_delete_button {
    color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 1px solid rgb(77, 8, 8);
    background: rgba(220, 20, 20, 0.3);
    padding: 0px 13px;
    position: relative;
    left: 10px;
    bottom: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.card_delete_button:hover {
    transform: scale(1.1);
}

.card_delete_button:focus {
    outline: none;
}


/* ITEM LISTS  */

.list {
    font-family: 'Baloo 2', cursive;
    width: 300px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.list h3 {
    padding: 10px 20px;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    color: white;
}

.list ul {
    position: relative;
    background: #fff;
    border-bottom-right-radius: 10px;
}

.list ul p {
    text-align: center;
    padding: 10px;
}

.list ul li {
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    transition: all 0.5s;
}

.list ul li:hover {
    transform: scale(1.1);
    z-index: 100;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
    color: #000;
    border-radius: 10px
}

.list ul li a {
    text-decoration: none;
}

.list_blue {
    border-bottom: 20px solid rgb(76, 166, 207);
}

.list_blue h3 {
    background: rgb(76, 166, 207);
}

.list_blue ul li:hover {
    transform: scale(1.1);
    z-index: 100;
    background: #25bcff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
    color: #000;
    border-radius: 10px
}

.list_purple {
    border-bottom: 20px solid rgb(154, 112, 221);
}

.list_purple h3 {
    background: rgb(154, 112, 221);
}

.list_purple ul li:hover {
    transform: scale(1.1);
    z-index: 100;
    background: rgb(208, 192, 235);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
    color: #000;
    border-radius: 10px
}


/* QUIZ CARDS FOR NEW AND EDIT PAGES*/

.quiz_details_card {
    font-family: 'Baloo 2', cursive;
    color: white;
    text-shadow: 1px 1px 1px black;
    background: rgba(152, 222, 217, 0.4);
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
    width: 90%;
    max-width: 500px;
    padding: 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz_details_card h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
}

.quiz_details_card h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}

.quiz_details_card div {
    width: 100%;
}

.quiz_details_card p {
    text-align: center;
}

.quiz_details_card #quiz_name, 
.quiz_details_card select, 
.quiz_details_card textarea {
    font-family: 'Baloo 2', cursive;
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 5px;
}

.quiz_details_card #quiz_name:focus, 
.quiz_details_card textarea:focus, 
.quiz_details_card select:focus {
    outline: none;
    box-shadow: none;
}

.quiz_details_card select {
    margin-bottom: 20px;
}

.quiz_details_card textarea {
    width: 100%;
    height: 5rem;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    resize: none;
}

.questions_card {
    font-family: 'Baloo 2', cursive;
    color: white;
    text-shadow: 1px 1px 2px black; 
    width: 90%;
    max-width: 500px;
}

.questions_card .question_article {
    background: rgba(100, 108, 223, 0.3);
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    margin-top: 10px;
}

.questions_card input[type="text"] {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 5px;
}

.questions_card select {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 5px;
}

.questions_card select:focus,
.questions_card input:focus {
    outline: none;
    box-shadow: none;
}

.answer_div {
    background: rgba(191, 152, 222, 0.5);
    border: 1px solid rgba(0, 0, 0, .5);
    border-left: 20px solid rgba(14, 9, 51, 0.7);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.add_answer_div {
    display: flex;
    justify-content: flex-end;
}

.answer_title_div, 
.question_title_div {
    display: flex;
    height: 38px;
}

.answer_title_div h3, 
.question_title_div h2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question_limit_input {
    padding: 5px 10px;
    border-radius: 10px;
}




/* SPLASH AND LOGIN SIGNUP SCREENS */
.main_splash {
    background-image: url('../img/mainbg3.jpg');
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center center;
    z-index: 0;
}

.main_overlay {
    position: absolute;
    font-family: 'Fredoka One', cursive;
    text-shadow: 1px 1px 2px black;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.1)
    );
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* LOGIN AND SIGNUP FORMS */
.form_container {
    font-family: 'Balsamiq Sans', cursive;
    background: rgba(0,0,0,0.5);
    width: 300px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
}

.form_container h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.form_container .control {
    position: relative;
}

.form_container .control input {
    width: 100%;
    display: block;
    padding: 10px;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    margin: 1em 0;
    background: transparent;
}

.form_container .control input[type="submit"] {
    background: rgb(20, 197, 220);
    color: #fff;
    font-size: 1em;
    opacity: .7;
    transition: opacity .3s ease;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.form_container .control input[type="submit"]:hover {
    opacity: 1;
}

.form_container .control label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #fff;
    font-size: 1.2em;
    pointer-events: none;
    transition: .5s;
}

.form_container .control input:focus ~ label,
.form_container .control input:valid ~ label {
    color: rgb(20, 197, 220);
    top: -10px;
    left: 5px;
    font-size: 12px;
}

.form_container .link {
    text-align: center;
}

.form_container .link a {
    text-decoration: none;
    color: #fff;
    opacity: .6;
    transition: opacity .3s ease;
}

.form_container .link a:hover {
    opacity: 1;
}

.form_container .control input:-webkit-autofill,
.form_container .control input:-webkit-autofill:hover,
.form_container .control input:-webkit-autofill:focus,
.form_container .control input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}


/* USER HOME PAGE */
.user_home_header {
    color: white;
    text-align: center;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.user_home_header p {
    font-family: 'Baloo 2', cursive;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.user_home_header div {
    margin-top: 10px;
}

.user_home_body {
    max-width: 1000px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.user_home_body div {
    margin-bottom: 10px;
}

.user_home_footer {
    max-width: 1000px;
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}


/* NEW QUIZ PAGE */
.new_page_body {
    max-width: 650px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer_correct_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.comment_button {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Baloo 2', cursive;
    font-size: 15px;
    background: rgba(154, 112, 221, 0.2);
    color: white;
    text-shadow: 1px 1px 2px black;
    transition: all 0.3s ease;
}

.comment_button:hover {
    transform: scale(1.1)
}

.comment_button:focus {
    outline: none;
}

.new_page_footer {
    max-width: 500px;
    width: 90%;
    margin-bottom: 50px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}



/* QUIZ SHOW PAGE */

.quiz_show_body {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quiz_show_body button {
    margin-top: 20px;
}

.quiz_show_body .admin_controls {
    color: white;
    background:  rgba(191, 152, 222, 0.5);
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
    width: 90%;
    max-width: 500px;
    padding: 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quiz_show_body .admin_controls h2{
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.quiz_show_footer {
    height: 100px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* QUIZ EDIT PAGE */
.edit_edit_page_body,
.new_edit_page_body,
.edit_page_body {
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit_edit_page_footer,
.new_edit_page_footer,
.edit_page_footer {
    max-width: 500px;
    width: 90%;
    margin-bottom: 50px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

/* PLAY QUIZ PAGE */
.play_page_body {
    width: 90%;
    max-width: 500px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.play_page_body .play_questions {
    font-family: 'Baloo 2', cursive;
    background: rgba(100, 108, 223, 0.3);
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    margin-top: 10px;
}

.play_page_body .play_questions h2 {
    text-align: center;
    font-size: 30px;
}

.play_page_body .play_questions input {
    margin-left: 20px;
}

.play_page_body .play_questions span {
    font-size: 25px;
}

.play_page_footer {
    width: 90%;
    max-width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

/* RESULTS PAGE */

.result_page_body {
    font-family: 'Baloo 2', cursive;
    color: white;
    text-shadow: 1px 1px 2px black;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result_page_body .result_card_title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.result_page_body .answer {
    margin-top: 20px;
    background:rgba(161, 161, 161, 0.5);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.result_page_body .answer h3 {
    margin-bottom: 5px;
}

.result_page_body .comment {
    width: fit-content;
    margin: 10px 0 10px 30px;
    background: rgba(112, 112, 112, 0.5);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.result_page_body .result_card_title .score {
    border: 2px solid rgb(112, 112, 112, 0.5);
    border-radius: 5px;
    padding: 5px;
}

.result_page_body .result_card_correct {
    background: rgba(132, 219, 132, 0.5);
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    margin-top: 10px;
}

.result_page_body .result_card_incorrect {
    background: rgba(212, 62, 62, 0.5);
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    margin-top: 10px;
}

.result_page_body .corrections {
    margin-top: 10px;
    margin-left: 20px;
}

.result_page_footer {
    width: 100%;
    max-width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* HISTORY PAGE */

.history_body {
    width: 90%;
    max-width: 500px;
    color: white;
    font-family: 'Baloo 2', cursive;
    background: rgba(145, 132, 219, 0.5);
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 20px;
    padding: 30px 50px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.history_body .quiz_name {
    text-align: center;
    font-size: 20px;
}

.history_body .quiz_score {
    text-align: center;
    font-size: 20px;
}

.history_body .history_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;

}

.history_footer {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CATEGORY INDEX */
.categories_header {
    margin-bottom: 50px;
}

.categories_footer {
    margin-bottom: 50px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories_body {
    max-width: 400px;
    width: 90%;
}

/* CATEGORY SHOW PAGE */
.category_show_footer {
    width: 80%;
    max-width: 1000px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.category_show_footer div {
    margin-top: 10px;
}
.category_show_body {
    max-width: 400px;
    width: 90%;
}

/* USER ACCESS PAGE */

.access_page_body {
    color: white;
    font-family: 'Baloo 2', cursive;
    text-shadow: 1px 1px 2px black;
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.access_page_body input:focus {
    outline: none;
}

.access_page_body h2 {
    text-align: center;
    padding: 5px;
}

.access_page_body .access_table {
    color: white;
    background-color: rgba(144, 80, 228, 0.5);
    width: 90%;
    max-width: 500px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.access_page_body .access_table p {
    text-align: center;
}

.access_page_body form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.access_page_body .access_table_row{
    width: 100%;
    max-width: 500px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-wrap: wrap;
}

.access_page_body .access_table_row .access_email{
    flex: 1;
}

.access_page_body .access_table_row .access_admin{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.access_page_body .access_table_row .access_admin span {
    flex-wrap: nowrap;
    min-width: 100px;
}

.access_page_body .add_access {
    background-color: rgba(122, 200, 231, 0.5);
    width: 90%;
    max-width: 500px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.access_page_body .add_access .add_user,
.access_page_body .add_access .add_user #new_access {
    width: 100%;
}

.access_page_body .add_access .add_user input {
    padding: 5px;
    border-radius: 10px;
}

.access_page_body .add_access .add_admin {
    width: 80%;
}

.access_page_footer {
    width: 90%;
    max-width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

/* STATISTICS PAGE */
.statistics_page_body {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statistics_page_body .statistics_list {
    margin-left: 30px;
}

.statistics_page_footer {
    height: 200px;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: wrap;
}

/* SETTINGS PAGE */
.settings_header {
    width: 90%;
    max-width: 500px;
}
.settings_header p {
    text-align: center;
    font-family: 'Baloo 2', cursive;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
}

/* CONFIRM ACCOUNT DELETE PAGE */
.confirm_header {
    width: 90%;
    max-width: 500px;
}

.confirm_header p {
    text-align: center;
    font-family: 'Baloo 2', cursive;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
}
.confirm_body {
    height: 300px;
    max-width: 500px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.confirm_body h3 {
    font-family: 'Baloo 2', cursive;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

