<div class="main_splash">
    <div class="main_overlay">
        <div class="form_container">
            <form action="/users" method="POST">
                <h1>Create Account</h1>
                <% if flash.has?(:message) %>
                    <% if flash[:success] == true %>
                        <p class="flash_message_success"><%= flash[:message] %></p>
                    <% else %>
                        <p class="flash_message_failure"><%= flash[:message] %></p>
                    <% end %>
                <% end %> 
                <div class="control">
                    <input type="text" id="user_name" name="user[username]" required>
                    <label for="user_name">Username</label>
                </div>
                <div class="control">
                    <input type="text" id="user_email" name="user[email]" required>
                    <label for="user_email">Email</label>
                </div>
                <div class="control">
                    <input type="password" id="user_password "name="user[password]" required>
                    <label for="user_password">Password</label>
                </div>
                <div class="control">
                    <input type="submit" value="SIGN UP">
                </div>
            </form>
        </div>
    </div>
</div>