<main class="container">
    <section class="categories_header">
        <h1 class="page_title">Categories</h1>
    </section>
    <section class="categories_body list list_blue">
        <h3>All Categories</h3>
        <ul>
            <% @categories.each do |category|%>
                <li>
                    <a href="/categories/<%= category.slug %>"><%= category.name %></a>
                </li>
            <% end %>
        </ul>
    </section>
        <section class="categories_footer">
        <a href="/users/<%= current_user.id %>">
            <button class="button-green button-lg">Back to My Quizzes</button>
        </a>
    </section>
</main>    