<div class="main_splash">
    <div class="main_overlay">
        <h1>WELCOME TO QUIZ-IT!</h1>
        <div class="login_buttons">
            <a href="/login">
                <button id="login_button">Log In</button>
            </a>
            <a href="/users/new">
                <button id="signup_button">Sign Up</button>
            </a>
        </div>
    </div>
</div>


