<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz It!</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
</head>

<body>
<nav id="main_nav">
    <a href="/users/home" id="nav_logo">QUIZ-IT</a>
    <div id="buttons">
        <% if !logged_in? %>
                <a href="/login">
                    <button>Log In</button>
                </a>
                <a href="/users/new">
                    <button>Sign Up</button>
                </a>
        <% else %>
                <a href="/logout">
                    <button>Log Out</button>
                </a>
        <% end %>
    </div>
</nav>
<%= yield %>
    
</body>